.cache/clangd/index
.idea/codeStyles
.idea
CMakeFiles
_deps
test/lib
test/CMakeCache.txt
test/CTestTestfile.cmake
test/Makefile
test/ace64_test
test/ace64_test\[1\]_include.cmake
test/ace64_test\[1\]_tests.cmake
test/cmake_install.cmake
test/cmake_test_discovery_664f90e808.json
CMakeCache.txt
CTestTestfile.cmake
Makefile
ace64_test\[1\]_include.cmake
cmake_install.cmake
